<html>
    <head>
        <title>Your Ultimate To-Do List</title>
        <link href="css/custom.css" rel='stylesheet' type="text/css">
        <link href="../../css/custom.css" rel='stylesheet' type="text/css">
        <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    </head>
    <body>
        <div class="container">
            {% if categories is not empty %}
                <h3 style="font_weight:600">Click a category to view the tasks</h3>
                <ul>
                    {% for category in categories %}
                    <li><a href="/category/{{ category.getId }}">{{ category.getName }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <h3>You have no categories. Get organized! </h3>
            
            {% endif %}
            <div class="row" style="margin-left: 5px">
                <form action='/category_added' method='post'>
                    <label for='name'>Category name</label>
                    <input id='name' name='name' name='text'>
            
                    <button class="btn btn-default" style="padding-right:20px; padding-left:20px; background-color:#980D0D; color:black" type="submit">Add category</button>
                </form>
            </div>
           </div>
    </body>
</html>
