            {% if tasks is not empty %}
                <h3 style="font_weight:600">Click tasks to view all your tasks</h3>
                <ul>
                    {% for task in tasks %}
                    <li><a href="/task/{{ task.getId }}">{{ task.getName }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <h3>You have no tasks. Take a breather! </h3>

            {% endif %}


            


            <div class="row" style="margin-left: 5px">
                <form action='/task_added' method='post'>
                    <label for='name'>task's name</label>
                    <input id='name' name='name' name='text'>

                    <button class="btn btn-default" style="padding-right:20px; padding-left:20px; background-color:#980D0D; color:black" type="submit">Add task</button>
                </form>
            </div>
