<html style="
    margin:0;
    height:100%;">
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <style>
        @font-face {
        font-family: chiller;
        src: url(../../../font/chiller.ttf);
        font-weight: bold;
        }
        h1{
            font-family: chiller;
        }
        </style>
        <title>ERROR</title>
    </head>
    <body style="
        height:100%;
        color:black;
        text-align:center;
        background-color:black;">

        <h1 style="color:red">UNAUTHORIZED ACCESS!</h1>
        <div style="height:100%;
            background:url('../../img/giphy.gif') no-repeat center;
            -webkit-background-size: 70% 70%;
            -moz-background-size: 70% 70%;
            -o-background-size: 70% 70%;
            background-size:70% 70%;">
            <a href="/">I was just kidding anyway, take me home!</a>
        <div>

        </br>



    </body>
</html>
